/.quarto/

**/*.quarto_ipynb
_site
/.quarto/
.github/workflows
Data_Updates.bat
Scripts/Snow_Raster.py
Pages/Snow Pack/Snow Pack Map Test.qmd
Scripts/Imagery_API.py
Scripts/JRC_SurfaceWater_Processing.R
Scripts/.opentopography.txt
GIS_Data/EO_2026/
GIS_Data/EO